.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 90%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-toggle{
    width: 100%;
    margin: 0;
}
.dropdown-toggle:hover, .dropdown-toggle:hover + div, .dropdown-toggle + div:hover {
    display: block;
}

label{
    width: 150px;
}
